<a href="https://colab.research.google.com/github/HeyAEE/weird-stats/blob/main/baseball_computer_Python_Notebook_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a Python notebook that runs for free in the cloud. Google will prompt you to copy the notebook to your own account and run it there.
The code will also work in a local Jupyter notebook.

In [71]:
# Duckdb is a SQL engine that allows us to execute powerful, analytics-friendly
# queries against local or remote databases and flat files.
import duckdb
import pandas as pd

In [72]:
# Create a database file on disk
conn = duckdb.connect('example.db')
# Enable remote access
conn.sql("INSTALL httpfs")
conn.sql("LOAD httpfs")
# This database file points to files totaling multiple GBs,
# but it's only about 300KB itself. The `ATTACH` command
# gives us access to views that sit on top of remote Parquet files.
try:
  conn.sql("ATTACH 'https://data.baseball.computer/dbt/bc_remote.db' (READ_ONLY)")
except duckdb.BinderException:
  # This command will fail if you run it more than once because it already exists,
  # in which case we don't need to do anything
  pass

conn.sql("USE bc_remote")
conn.sql("USE main_models")

In [3]:
# Let's find season-level statistics for all pitchers and put it in a pandas DataFrame.
df: pd.DataFrame = conn.sql("SELECT * FROM metrics_player_season_league_pitching").df()
df

,player_id,season,league,batters_faced,outs_recorded,inherited_runners_scored,bequeathed_runners_scored,team_unearned_runs,plate_appearances,at_bats,...,saves_by_rule,save_opportunities,complete_games,shutouts,quality_starts,cheap_wins,tough_losses,no_decisions,no_hitters,perfect_games
0,morer101,1973,AL,658.0,469,5.0,10.0,0.0,658.0,579.0,...,3.0,4.0,5,2,8.0,4.0,0.0,1.0,0.0,0.0
1,burrr001,1973,NL,282.0,194,7.0,1.0,0.0,282.0,249.0,...,0.0,0.0,0,0,0.0,1.0,0.0,0.0,0.0,0.0
2,grimr101,1973,NL,1009.0,727,0.0,8.0,0.0,1009.0,920.0,...,0.0,1.0,8,1,22.0,1.0,2.0,13.0,0.0,0.0
3,monta103,1973,AL,129.0,90,8.0,3.0,0.0,129.0,107.0,...,3.0,5.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,mcdos101,1973,AL,417.0,287,0.0,6.0,0.0,417.0,345.0,...,0.0,0.0,2,1,9.0,0.0,4.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50112,matta101,1908,NL,117.0,91,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,0.0,1.0,0.0,0.0,0.0,0.0
50113,heisc101,1901,NL,32.0,41,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,1.0,0.0,1.0,0.0,0.0,0.0
50114,willp101,1898,N/A,88.0,51,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,0,NaN,NaN,NaN,NaN,NaN,NaN
50115,bierl101,1888,AA,14.0,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
50116,stanj103,1897,N/A,2.0,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Check out the docs to see all of the queryable tables:
https://docs.baseball.computer/

In [ ]:
# Let's find the best pitcher/batter duels

In [194]:
# Let's find the longest at-bats in history
df: pd.DataFrame = conn.sql("""
with longatbats as(
SELECT
    eps.event_key,
    ee.game_id,
    count(*) cou
FROM
    event.event_pitch_sequences eps
    join event.events ee
        on eps.event_key = ee.event_key
WHERE
    eps.sequence_item NOT LIKE '%Pickoff%'
GROUP BY
1,2
)
select
    CAST(substr(ee.game_id,4,4) AS INTEGER),
    avg(cou)
from
    longatbats
    join event.events ee
        on longatbats.event_key = ee.event_key
GROUP BY
    CAST(substr(ee.game_id,4,4) AS INTEGER)
ORDER BY
CAST(substr(ee.game_id,4,4) AS INTEGER) desc
"""
                           ).df()
df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

     CAST(substr(ee.game_id, 4, 4) AS INTEGER)  avg(cou)
0                                         2023  3.391737
1                                         2022  3.787408
2                                         2021  3.804159
3                                         2020  3.840095
4                                         2019  3.831980
5                                         2018  3.793219
6                                         2017  3.793024
7                                         2016  3.758360
8                                         2015  3.706853
9                                         2014  3.711838
10                                        2013  3.722047
11                                        2012  3.701128
12                                        2011  3.691846
13                                        2010  3.705908
14                                        2009  3.712756
15                                        2008  3.692659
16                                        2007  3.662839
17                                        2006  3.650680
18                                        2005  3.629852
19                                        2004  3.659091
20                                        2003  3.637705
21                                        2002  3.696479
22                                        2001  3.682311
23                                        2000  3.720960
24                                        1999  3.618617
25                                        1998  3.587786
26                                        1997  3.593830
27                                        1996  3.590259
28                                        1995  3.573253
29                                        1994  3.565058
30                                        1993  3.523765
31                                        1992  3.517991
32                                        1991  3.541930
33                                        1990  3.481622
34                                        1989  3.483154
35                                        1988  3.449771
36                                        1987  3.426246
37                                        1986  3.530414
38                                        1985  3.439373
39                                        1984  3.488910
40                                        1983  3.536245
41                                        1982  3.302920
42                                        1981  3.240521
43                                        1980  3.406465
44                                        1979  3.064104
45                                        1978  4.697638
46                                        1977  4.950305
47                                        1976  3.194717
48                                        1975  3.344276
49                                        1974  3.423208
50                                        1973  3.149123
51                                        1972  3.022587
52                                        1971  3.141542
53                                        1970  3.388387
54                                        1969  3.312821
55                                        1968  3.755895
56                                        1967  3.321513
57                                        1966  3.180769
58                                        1965  3.068952
59                                        1964  3.378359
60                                        1963  3.329832
61                                        1962  3.430708
62                                        1961  3.444865
63                                        1960  3.474248
64                                        1959  3.436887
65                                        1958  3.437994
66                                        1957  3.442531
67                                        1956  3.392569
68                                        1955  3.381690
69                                        1954  3.432695
70                                        1953  3.433436
71                                        1952  3.416961
72                                        1951  3.318853
73                                        1950  3.328962
74                                        1949  3.331090
75                                        1948  3.357916
76                                        1947  3.363163
77                                        1946  3.101449
78                                        1945  3.079422
79                                        1944  3.319231
80                                        1943  3.321526
81                                        1942  3.127119
82                                        1941  3.364407
83                                        1940  3.157895
84                                        1939  3.194969
85                                        1938  3.398714
86                                        1937  3.278261
87                                        1936  3.225171
88                                        1935  3.314465
89                                        1934  3.287529
90                                        1933  3.159806
91                                        1932  3.451524
92                                        1931  3.283554
93                                        1930  3.326112
94                                        1929  3.320273
95                                        1928  3.472727
96                                        1927  2.885650
97                                        1926  3.254513
98                                        1925  2.755965
99                                        1924  3.148119
100                                       1923  3.792952
101                                       1922  3.357082
102                                       1921  3.483988
103                                       1920  3.230038
104                                       1919  2.943284
105                                       1918  3.272941
106                                       1917  2.866530
107                                       1916  2.982630
108                                       1915  3.389356
109                                       1914  3.286604
110                                       1913  2.964029
111                                       1912  2.965605
112                                       1911  3.019608
113                                       1910  2.997573
114                                       1908  2.885522

In [175]:
query_atbats = """
SELECT
    *,
    row_number() OVER (
        PARTITION BY game_id, event_key
        ORDER BY sequence_id DESC) rn
FROM
    event.event_pitch_sequences
"""

query_intentionalBalls = """
SELECT
    CAST(substr(ee.game_id,4,4) AS INTEGER) gameyear,
    ee.event_key,
    array_agg(sequence_item) seqItems,
    count_if(sequence_item like '%Intentional%') IBs,
    count(*)
FROM
    query_atbats
    JOIN event.events ee
        ON query_atbats.event_key = ee.event_key
    JOIN misc.bio batter_bio
        ON batter_bio.player_id = ee.batter_id
    JOIN misc.bio pitcher_bio
        ON pitcher_bio.player_id = ee.pitcher_id
GROUP BY 
    CAST(substr(ee.game_id,4,4) AS INTEGER),
    ee.event_key
HAVING 
    IBs > 0
"""

query_events_pitcher_batter = """
SELECT
    'Batter: ',
    batter_bio.last,
    batter_bio.first,
    'Pitcher: ',
    pitcher_bio.last,
    pitcher_bio.first,
    ee.*
FROM
    event.events ee
    LEFT JOIN misc.bio batter_bio
        ON batter_bio.player_id = ee.batter_id
    LEFT JOIN misc.bio pitcher_bio
        ON pitcher_bio.player_id = ee.pitcher_id
"""

query_types = """
SELECT
    query_atbats.sequence_item,
    ee.plate_appearance_result,
    count(DISTINCT ee.event_key) num_occurences
FROM
    query_atbats
    JOIN event.events ee
        ON query_atbats.event_key = ee.event_key
WHERE
    query_atbats.rn=1
GROUP BY
    1,2
"""

In [26]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

In [178]:
query_final = (
"""
    WITH query_atbats AS (
"""
+
query_atbats
+
"""
), query_types as (
"""
+
query_types
+
"""
), query_intentionalBalls as (
"""
+
query_intentionalBalls
+ """
), query_events_pitcher_batter AS (
"""
+
query_events_pitcher_batter
+
""")
SELECT
    *
FROM
    query_intentionalBalls
    JOIN query_events_pitcher_batter
        on query_intentionalBalls.event_key = query_events_pitcher_batter.event_key
        and query_events_pitcher_batter.plate_appearance_result not like '%Walk%'
        and query_intentionalBalls.gameyear > 2008
ORDER BY
    IBs desc
    """
)

In [179]:
df: pd.DataFrame = conn.sql(query_final).df()
df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,gameyear,event_key,seqItems,IBs,count_star(),'Batter: ',last,first,'Pitcher: ',last_1,first_1,game_id,event_id,event_key_1,batting_side,inning,frame,batter_lineup_position,batter_id,pitcher_id,batting_team_id,fielding_team_id,outs,base_state,count_balls,count_strikes,specified_batter_hand,specified_pitcher_hand,strikeout_responsible_batter_id,walk_responsible_pitcher_id,plate_appearance_result,batted_trajectory,batted_to_fielder,batted_location_general,batted_location_depth,batted_location_angle,batted_contact_strength,outs_on_play,runs_on_play,runs_batted_in,team_unearned_runs,no_play_flag
0,2014,584719414,"[CalledStrike, SwingingStrike, Ball, CalledStr...",1.0,5,Batter:,Campbell,Eric Singleton,Pitcher:,Adams,Jon Michael,NYN201405100,79,584719414,Home,8,Bottom,6,campe001,adamm001,NYN,PHI,1,6,2,2,None,None,None,None,StrikeOut,None,NaN,None,None,None,None,1,0,0,0,False
1,2016,599772590,"[InPlay, SwingingStrike, CalledStrike, Ball, I...",1.0,5,Batter:,Crawford,Brandon Michael,Pitcher:,Betances,Dellin,NYA201607230,95,599772590,Away,11,Top,5,crawb001,betad001,SFN,NYA,2,4,2,2,None,None,None,None,InPlayOut,GroundBall,4.0,Unknown,Unknown,Unknown,Unknown,1,0,0,0,False
2,2016,600527405,"[InPlay, FoulBunt, FoulTip, IntentionalBall]",1.0,4,Batter:,Burriss,Emmanuel Allen,Pitcher:,Robles,Hansel Manuel,PHI201604200,110,600527405,Home,11,Bottom,8,burre001,roblh001,PHI,NYN,1,6,2,2,None,None,None,None,InPlayOut,Fly,8.0,Unknown,Unknown,Unknown,Unknown,1,0,0,0,False
3,2016,601559625,"[InPlay, IntentionalBall]",1.0,2,Batter:,Adrianza,Ehire Enrique (Palma),Pitcher:,Watson,Anthony Michael,SFN201608160,90,601559625,Home,9,Bottom,9,adrie001,watst001,SFN,PIT,1,6,1,0,None,None,None,None,InPlayOut,PopUp,4.0,Unknown,Unknown,Unknown,Unknown,1,0,0,0,False

In [157]:
print(query_final)

    WITH query_atbats AS (

SELECT
    *,
    row_number() OVER (
        PARTITION BY game_id, event_key
        ORDER BY sequence_id DESC) rn
FROM
    event.event_pitch_sequences

), query_types as (

SELECT
    query_atbats.sequence_item,
    ee.plate_appearance_result,
    count(DISTINCT ee.event_key) num_occurences
FROM
    query_atbats
    JOIN event.events ee
        ON query_atbats.event_key = ee.event_key
WHERE
    query_atbats.rn=1
GROUP BY
    1,2

), query_intentionalBalls as (

SELECT
    CAST(substr(ee.game_id,4,4) AS INTEGER) gameyear,
    ee.event_key,
    array_agg(sequence_item) seqItems,
    count_if(sequence_item='IntentionalBall') IBs,
    count(*)
FROM
    query_atbats
    JOIN event.events ee
        ON query_atbats.event_key = ee.event_key
    JOIN misc.bio batter_bio
        ON batter_bio.player_id = ee.batter_id
    JOIN misc.bio pitcher_bio
        ON pitcher_bio.player_id = ee.pitcher_id
GROUP BY
    CAST(substr(ee.game_id,4,4) AS INTEGER),
    ee.event_key
HAVING
    IBs > 0

), query_events_pitcher_batter AS (

SELECT
    'Batter: ',
    batter_bio.last,
    batter_bio.first,
    'Pitcher: ',
    pitcher_bio.last,
    pitcher_bio.first,
    ee.*
FROM
    event.events ee
    JOIN misc.bio batter_bio
        ON batter_bio.player_id = ee.batter_id
    JOIN misc.bio pitcher_bio
        ON pitcher_bio.player_id = ee.pitcher_id
)
SELECT
    *
FROM
    query_intentionalBalls
    JOIN query_events_pitcher_batter
        on query_intentionalBalls.event_key = query_events_pitcher_batter.event_key
        and query_intentionalBalls.IBs < 4
        and query_events_pitcher_batter.count_strikes = 0
        and query_events_pitcher_batter.plate_appearance_result not like '%Walk%'
ORDER BY
    IBs desc